@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

/* base styles */
html, body, #root {
  height: 100%;
}
body {
  font-family: DynaPuff, Ubuntu, sans-serif;
  margin: 0;
  font-size: 1.75em;
  background: #e4e4e4;
  color: #333;
}
h1,h2,h3,p {
  margin: 0;
  font-weight: 400;
}
h1 {
  font-weight: bold;
}
input, textarea {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-size: 1em;
  padding: 10px;
  width: 100%;
}
.page-title {
  text-align: center;
  margin: 50px auto;
  color: #333;
}
.loading, .error {
  text-align: center;
  margin: 50px auto;
}

.loading.dark {
  color: gold;
}

.error {
  color: red;
}